.navbar--container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar--button {
    color: rgb(254, 48, 114);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

.navbar--button:disabled {
    background-color: rgb(181, 180, 180);
    color: rgb(189, 42, 90);
}

.navbar--logo {
    width: 170px;
    margin: 15px;
}

.navbar--logo .logo {
    width: 100%;
}


