.chatheader--container {
    background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatheader--profile,
.chatheader--logout {
    display: flex;
    align-items: center;
    padding: 20px;
    color: rgb(255, 255, 255);
}


.chatheader--image {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

.chatheader--image img {
    width: 100%;
}